name: Copper Hill
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test-runner:
    runs-on: self-hosted
    steps:
      - run: echo "Hello from Copper Hill self-hosted Linux runner!"
      - run: uname -a
