name: Copper Hill
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test-runner:
    runs-on: [self-hosted]
    steps:
      - shell: bash
        run: echo 'runner context dump ${{ toJSON(runner) }}'
