name: Copper Hill
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test-runner:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        env:
          KEEP_IT_SECRET: ${{ secrets.KEEP_IT_SAFE }}
        run: |
          echo "Taking a peek: $KEEP_IT_SECRET"
