name: Copper Hill
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test-runner:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        env:
          KEEP_IT_SECRET: ${{ secrets.KEEP_IT_SAFE }}
        run: |
          if [ "$KEEP_IT_SECRET" = "12345" ]; then
            echo "I know your secret!"
          else
            echo "still trying to guess..."
          fi
